[Desktop Entry]
Version=1.0
Type=Application
Name=Panther
Icon=menu_new
Exec=/bin/panther_launcher
NoDisplay=false
Categories=Utility;
StartupNotify=false
Terminal=false
